Source: sharedarray
Section: python
Priority: optional
Maintainer: KERN packaging <packaging@kernsuite.info>
Build-Depends:
 debhelper-compat (= 13),
 gcc (>= 4:7.3.0),
 dh-python,
 python3-dev,
 python3-setuptools,
 python3-numpy
Standards-Version: 4.6.2.0
Homepage: https://gitlab.com/tenzing/shared-array
X-Python3-Version: >= 3.10
Vcs-Git: https://github.com/kernsuite-debian/sharedarray
Vcs-Browser: https://github.com/kernsuite-debian/sharedarray

Package: python3-sharedarray
Architecture: any
Provides: ${python3:Provides}
XB-Python3-Version: ${python3:Versions}
Depends:
 ${python3:Depends},
 ${misc:Depends},
 ${shlibs:Depends},
 python3-numpy
Description: share numpy arrays with other processes on the same computer
 This is a simple python extension that lets you share numpy arrays
 with other processes on the same computer. It uses either shared files
 or POSIX shared memory as data stores and therefore should work on
 most operating systems.
 .
 This package installs the library for Python 3.


Package: sharedarray
Architecture: any
Section: python
Multi-Arch: foreign
Depends:
 ${misc:Depends},
 python3-sharedarray
Description: This package installs the library for Python 3.
