#!/usr/bin/make -f
#export DH_VERBOSE = 1
export PYBUILD_NAME = sharedarray

%:
	dh $@  --with python2,python3  --buildsystem=pybuild  --parallel

override_dh_python2:
	dh_python2
	dh_numpy

override_dh_python3:
	dh_python3
	dh_numpy3
